<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :range %><br>
    <%= f.text_field :range %>
  </p>

  <p>
    <%= submit_tag("Add new") %>
  </p>
<% end %>